<div *ngIf="questions" class="container">
  <div *ngFor="let question of questions" class="card mb-3 questionCard">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <h5>Question</h5>
          <div class="ml-3">
            <a [routerLink]="['/question', question._id]">
              {{question.QuestionText}}
            </a>
          </div>
          <h5>Answers</h5>
          <div class="ml-3">
            <app-answer-list [answerIds]="question.QuestionAnswers"></app-answer-list>
          </div>
        </div>
        <div class="col-md-2">
          <h5>Tags</h5>
          <div *ngFor="let tag of question.QuestionTags">
            {{tag}}
          </div>
        </div>
        <div class="col-md-2">
          <a [routerLink]="['/question/edit', question._id]" class="btn btn-primary">Edit</a>
          <a (click) = "deleteQuestion(question._id)" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>

