<div *ngIf="answer" class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Title</label>
        <input type="text" class="form-control" formControlName="AnswerTitle" #AnswerTitle />
      </div>
      <div *ngIf="angForm.controls['AnswerTitle'].invalid && (angForm.controls['AnswerTitle'].dirty || angForm.controls['AnswerTitle'].touched)"  class="alert alert-danger">
        <div *ngIf="angForm.controls['AnswerTitle'].errors.required">
          Answer title is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Author</label>
        <input type="text" class="form-control" formControlName="AnswerAuthor" #AnswerAuthor />
      </div>
      <div *ngIf="angForm.controls['AnswerAuthor'].invalid && (angForm.controls['AnswerAuthor'].dirty || angForm.controls['AnswerAuthor'].touched)"  class="alert alert-danger">
        <div *ngIf="angForm.controls['AnswerAuthor'].errors.required">
          Answer author is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">URL</label>
        <input type="text" class="form-control" formControlName="AnswerUrl" #AnswerUrl />
      </div>
      <div *ngIf="angForm.controls['AnswerUrl'].invalid && (angForm.controls['AnswerUrl'].dirty || angForm.controls['AnswerUrl'].touched)"  class="alert alert-danger">
        <div *ngIf="angForm.controls['AnswerUrl'].errors.required">
          Answer URL is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Blurb</label>
        <textarea class="form-control" formControlName="AnswerBlurb" #AnswerBlurb></textarea>
      </div>
      <div *ngIf="angForm.controls['AnswerBlurb'].invalid && (angForm.controls['AnswerBlurb'].dirty || angForm.controls['AnswerBlurb'].touched)"  class="alert alert-danger">
        <div *ngIf="angForm.controls['AnswerBlurb'].errors.required">
          Answer blurb is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Tags (comma separated)</label>
        <input type="text" class="form-control" formControlName="AnswerTags" #AnswerTags />
      </div>
      <div *ngIf="angForm.controls['AnswerTags'].invalid && (angForm.controls['AnswerTags'].dirty || angForm.controls['AnswerTags'].touched)"  class="alert alert-danger">
        <div *ngIf="angForm.controls['AnswerTags'].errors.required">
          Answer tags required.
        </div>
      </div>
      <div class="form-group">
        <button (click) = 'updateAnswer(AnswerTitle.value, AnswerAuthor.value, AnswerUrl.value, AnswerBlurb.value, AnswerTags.value)' type="submit" [disabled]="angForm.invalid" class="btn btn-primary">Update Answer</button>
      </div>
    </form>
  </div>
</div>
