<div *ngIf="answers" class="container">
  <div *ngFor="let answer of answers" class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <h5>{{ answer.AnswerTitle }}</h5>
        </div>
        <div class="col-md-4">
          {{ answer.AnswerAuthor }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div><a href="{{ answer.AnswerUrl }}">{{ answer.AnswerUrl }}</a></div>
          <div>{{ answer.AnswerBlurb }}</div>
        </div>
        <div class="col-md-2">
          <h5>Tags:</h5>
          <div *ngFor="let tag of answer.AnswerTags">
            {{ tag }}
          </div>
        </div>
        <div class="col-md-1">
          <a [routerLink]="['/answer/edit', answer._id]" class="btn btn-primary">Edit</a>
          <a (click) = 'deleteAnswer(answer._id)' class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
